#news-title{
    border:1px solid black;
}

#news-image{
    height:200px;
    border:1px solid black;
}

#news-description{
    border:1px solid black;
}

.news-form-container{
    margin-top: 65px;
}

.news-form{
    
}
