/* --------------------------------general styling ------------------*/
html{
    height:100%;
}

body{
    margin:0;
    padding:0;
    padding-top:65px;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}


h2,h3,h4,h5,h6{
    font-family: "Luckiest Guy", cursive;
}

.col-12,
.col-4{
    margin:0;
    padding:0;
}

.main-section-header{
    color:orange;
    text-shadow: 2px 0 0 black;
    font-size:50px;
}

.breadcrumb{
    margin-left:15px;
}

.breadcrumb > li > a{
    color:black;
}

.breadcrumb > li > a:hover{
    color:orange;
}

#breadcrumb-active{
    color:orange;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:orange;
}

/* -------------------------------------------Navbar CSS ----------*/
.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    left:0;
    min-height:65px;
}

.main-background,
.dropdown-menu.show{
    color:white;
    background: black;
    min-height:65px;
}

.dropdown-menu.show

.dropdown-item{
    color:white;
}

.main-background h1 {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    color:orange;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link {
    color:white;
}

.navbar-toggler{
    background: white;
}

.navbar-toggler-icon {
    background-color: transparent;
    color: orange;
    border-radius:50%;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:focus,
.dropdown-item:hover {
    color: orange;
    background-color: transparent;
}

.i-link{
    padding: 0 8px 0 8px;
}

/* Media queries for Navbar */
@media screen and (max-width:990px){
    .main-background{
        padding:0;
    }

    .navbar-toggler{
        margin-right:330px;
    }
}

@media screen and (max-width:810px){
    .navbar-toggler{
        margin-right:250px;
    }
}

@media screen and (max-width:670px){
    .navbar-toggler{
        margin-right:200px;
    }
}

@media screen and (max-width:580px){
    .navbar-toggler{
        margin-right:150px;
    }
}

@media screen and (max-width:485px){
    .navbar-toggler{
        margin-right:70px;
    }
}

@media screen and (max-width:485px){
    .navbar-toggler{
        margin-right:15px;
        margin-left:10px;
    }
}

/* ------------------------------------------Message container css -----------------------*/

.message-container{
    height:50px;
    background-color: orange;
    color: white;
    text-shadow: 2px 0 0 black;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* ------------------------------------------banner images css -----------------------*/
.banner-container{
    height:690px;
    padding:0;
    margin:0;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}

.img-banner{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.banner-visible{
    display:block;
}

.banner-hidden{
    display:none;
}

.indicator{
    position: absolute;
    bottom: 10px;
    right: 10px; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}

.indicator-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid orange;
    border-radius: 50%;
    margin-right: 5px; 
    background-color: transparent; 
}

.indicator-circle.active {
    background-color: orange; 
}

.shop-btn{
    z-index: 1;
    position:absolute;
    bottom:70px;
    left:20px;
    width:200px;
    height:50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    box-shadow: 0px 0px 10px 10px rgb(255, 165, 0);
}

.shop-btn:hover{
    background: rgba(265, 155, 0, 0.5);
}

/* Media queries for hero images */
@media screen and (max-width: 600px) {
    .banner-container {
        height:45vh;
    }
}

/* ------------------------------general category section css-------------------*/
.general-cat{
    height:300px;
    text-align: center;
}

.gen-cat-header{
    color: orange;
    text-shadow: 2px 0 0 black;
}

.opacity-film {
    height: 100%;
    width:100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.opacity-film:hover{
    opacity:1;
}

.product-btn{
    position: relative;
    top: 100px;
    height:50px;
    background-color: rgba(0, 0, 0);
    color: white;
    border: none;
    box-shadow: 0px 0px 10px 10px rgb(255, 165, 0);
}

.product-btn:hover{
    background-color: orange;
}

/* media queries for general cat section */
@media screen and (max-width:500px){
    .product-btn{
        display:none;
    }
}

/* ------------------------------New Category section--------------------------------- */
.new-item-container{
    text-align:center;
    height:650px;
}

.new-image-container{
    height:450px;
    width:350px;
    margin: 20px auto;
    color:white;
}

.new-tag{
    height:45px;
    width:100%;
    background:orange;
    color:white;
    padding-top:8px;
    
}

@media screen and (max-width:400px){
    .new-image-container{
        height: 400px;
        width:300px;
    }
}

/* -------------------------------Facebook Page banner ----------------------------- */
.facebookpagebanner{
    height:100px;
    background: #0866ff;
    color: white;
    padding-top:10px;
}

.facebookpagebanner a{
    color:white;
    text-decoration:none;
    font-size:30px;
}

.facebookpagebanner a:hover{
    color:orange;
}

/* -------------------------------Footer ----------------------------- */
footer{
    background: black;
    color: white;
    margin-top: auto;
}

.footer > .col-12{
    padding-left:15px;
}

.useful-links{
    list-style-type: none;
}

.useful-links > li > a{
    text-decoration:none;
    color:white;
}

.useful-links > li > a:hover{
    color:orange;
}

.readmore-toggle{
    cursor:pointer;
}

.readmore-toggle:hover{
    color:orange;
}

.readmore {
    display:none;
}

.readmore.active {
    display:block;
}

/* -------------------------------login.html------------------------ */

#signup-link > a{
    color:black;
    text-decoration:none;
}

#signup-link > a:hover{
    color:orange;
}


/*---------------------------------------Profile.html-----------------------*/

#changepassword {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

#changepassword > a{
    color:white;
}

#changepassword > a:hover{
    color:orange;
}

.account-form{
    margin-top:15px;
}

.account-submit{
    margin-top:25px;
}

.profile-details{
    padding-left:15px;
    margin-top:25px;
}

.address-btn{
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.address-btn:hover{
    color:orange;
}

@media screen and (max-width: 875px){
    .amendproduct-link{
        display:none;
    }
}

/* ---------------- amend products style ----------------------------------- */

table{
    margin-top:15px;
}

.product-data > th, td{
    padding:15px;
    border: 1px solid black;
    width:120px;
}

#thumbnail-img {
    width:200px;
    height:200px;
}

/*------------------ add products style-----------------------------------------------*/

.form-group{
    margin-bottom:15px;
}

.form-control{
    width:250px;
}

.form-control-file{
    width:250px;
    margin-bottom: 10px;
}

.form-control-textarea{
    width:250px;
    height:100px;
}