/* --------------------------------general styling ------------------*/
html{
    height:100%;
    width:100%;
}

body{
    margin:0;
    padding:0;
    padding-top:65px;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}


h2,h3,h4,h5,h6{
    font-family: "Luckiest Guy", cursive;
}

.col-12,
.col-6,
.col-4{
    margin:0;
    padding:0;
}

.main-section-header{
    color:orange;
    text-shadow: 2px 0 0 black;
    font-size:50px;
}

.breadcrumb > li > a{
    color:black;
}

.breadcrumb > li > a:hover{
    color:orange;
}

#breadcrumb-active{
    color:orange;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:orange;
}

/* Pagination button CSS */
.page-link {
    background-color:black;
    color:white;
}

.active > .page-link{
    background-color:orange;
    border: white;
}

.page-link:hover{
    background-color:orange;
    color:white;
}

.page-item-direction > .page-link{
    background-color: orange;
}

.page-item-direction > .page-link:hover{
    background-color: black;
    color:orange;
}

.disabled > .page-link{
    background-color: rgba(265, 155, 0, 0.5);
}

/* Modal styles across the site */
.modal-header{
    background-color: black;
}

.btn-close{
    background-color:orange;
}

.modal-title {
    font-family: "Luckiest Guy", cursive;
    color:orange;
    text-shadow: 2px solid white;
}

/*Universal button style for consistent approach used with btn btn-primary */
.modal-button{
    background-color: black;
    border: 1px solid orange;
    margin-bottom: 5px;
}

.modal-button:hover{
    color: orange;
    background-color: black;
    border:1px solid black;
}

/* -------------------------------------------Navbar CSS ----------*/
.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    left:0;
    min-height:65px;
}

.search-form{
    width:100%;
    border: 1px solid black;
    margin-bottom:5px;
}

.search-bar{
    width:96%;
    max-width:95%;
    height:50px;
    border:none;
}

#search-submit{
    width:3%;
    height:50px;
    border: none;
    background-color:white;
}

.main-background,
.dropdown-menu.show{
    color:white;
    background: black;
    min-height:65px;
}

.dropdown-menu > a:hover{
    color:orange;
}

.dropdown-item{
    color:white;
}

.main-background h1 {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    color:orange;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link {
    color:white;
}

.navbar-toggler{
    background: white;
}

.navbar-toggler-icon {
    background-color: transparent;
    color: orange;
    border-radius:50%;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:focus,
.dropdown-item:hover {
    color: orange;
    background-color: transparent;
}

.i-link{
    padding: 0 8px 0 8px;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.total-amount {
    position: absolute;
    top: 10px; 
    left: 45%;
    transform: translateX(-50%);
    background-color: black;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.cart-icon:hover .total-amount {
    display: block;
}


/* Media queries for Navbar */
@media screen and (max-width:990px){
    .main-background{
        padding:0;
    }

    .search-bar{
        width:90%;
    }

    #search-submit{
        width:8%;
    }

    .navbar-toggler{
        margin-right:330px;
    }
}

@media screen and (max-width:810px){
    .navbar-toggler{
        margin-right:250px;
    }
}

@media screen and (max-width:670px){
    .navbar-toggler{
        margin-right:200px;
    }
}

@media screen and (max-width:580px){
    .navbar-toggler{
        margin-right:150px;
    }
}

@media screen and (max-width:485px){
    .navbar-toggler{
        margin-right:70px;
        margin-left:10px;
    }

    .total-opacity{
        display:none;
    }
}

@media screen and (max-width:485px){
    .navbar-toggler{
        margin-right:15px;
        margin-left:10px;
    }
}

/* ------------------------------------------Message container css -----------------------*/

.message-container{
    height:50px;
    background-color: orange;
    color: white;
    text-shadow: 2px 0 0 black;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.delivery-info-container{
    background-color: orange;
    color:white;
    text-shadow: 2px 0 0 black;
}

#close-delivery{
    float:left;
    margin-left:10px;
    cursor:pointer;
}

#close-delivery:hover{
    color:orange;
}


/* ------------------------------------------banner images css -----------------------*/
.banner-container{
    height:690px;
    padding:0;
    margin:0;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}

.img-banner{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.banner-visible, 
.form-visible{
    display:block;
    z-index: -1;
}

.banner-hidden,
.form-hidden{
    display:none;
    z-index: -1;
}

.indicator{
    position: absolute;
    bottom: 25px;
    right: 5px; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}

.indicator-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid orange;
    border-radius: 50%;
    margin-right: 5px; 
    background-color: transparent; 
}

.indicator-circle.active {
    background-color: orange; 
}

.shop-btn{
    position:absolute;
    bottom:80px;
    left:20px;
    width:200px;
    height:100px;
    padding-top:25px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 0 0 rgb(0, 0, 0);
    color: white;
    border: none;
    box-shadow: 0px 0px 10px 10px rgb(255, 165, 0);
}

.shop-btn:hover{
    background: rgba(265, 155, 0, 0.5);
    color:white;
}

/* Media queries for hero images */
@media screen and (max-width: 600px) {
    .banner-container {
        height:45vh;
    }
}

/* ------------------------------general category section css-------------------*/
.general-cat{
    height:300px;
    text-align: center;
}

.gen-cat-header{
    color: orange;
    text-shadow: 2px 0 0 black;
}

.opacity-film {
    height: 100%;
    width:100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.opacity-film:hover{
    opacity:1;
}

.product-btn{
    position: relative;
    top: 100px;
    height:50px;
    background-color: rgba(0, 0, 0);
    border: none;
    box-shadow: 0px 0px 10px 10px rgb(255, 165, 0);
}

.product-btn a{
    color:white;
}

.product-btn:hover{
    background-color: orange;
}

/* media queries for general cat section */
@media screen and (max-width:500px){
    .product-btn{
        display:none;
    }
}

/* ------------------------------New Category section--------------------------------- */
.new-item-container{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}

.main-section-link{
    color:white;
    text-shadow: 2px 0 0 rgb(0, 0, 0);
}

.main-section-link:hover{
    color:orange;
}

.new-image{
    height:300px;
    width:250px;
    margin-bottom:20px;
    margin: 0 auto;
}

.new-product-card{
    max-width:250px;
    margin: 0 auto;
    background: black;
    color:white;
}

.new-btn{
    background-color: rgba(0, 0, 0);
    color: white;
    border: none;
    box-shadow: 0px 0px 5px 5px rgb(255, 165, 0);
}

.new-btn:hover{
    background-color:orange;
    box-shadow: 0px 0px 7px 7px rgb(255, 165, 0);

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: orange;
}

/* -------------------------------Facebook Page banner ----------------------------- */
.facebookpagebanner{
    height:100px;
    background: #0866ff;
    color: white;
    padding-top:10px;
}

.facebookpagebanner a{
    color:white;
    text-decoration:none;
    font-size:30px;
}

.facebookpagebanner a:hover{
    color:orange;
}

/* -------------------------------Footer ----------------------------- */
footer{
    background: black;
    color: white;
    margin-top: auto;
}

.footer > .col-12{
    padding-left:15px;
}

.useful-links{
    list-style-type: none;
}

.useful-links > li > a{
    text-decoration:none;
    color:white;
}

.useful-links > li > a:hover{
    color:orange;
}

.readmore-toggle{
    cursor:pointer;
}

.readmore-toggle:hover{
    color:orange;
}

.readmore {
    display:none;
}

.readmore.active {
    display:block;
}

/* -------------------------------login.html------------------------ */

#signup-link > a{
    color:black;
    text-decoration:none;
}

#signup-link > a:hover{
    color:orange;
}


/*---------------------------------------Profile.html-----------------------*/

#changepassword {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

#changepassword > a{
    color:white;
}

#changepassword > a:hover{
    color:orange;
}

.account-form{
    margin-top:15px;
}

.account-submit{
    margin-top:25px;
}

.profile-details{
    padding-left:15px;
    margin-top:25px;
}

.my-reviews{
    border: 1px solid black;
    margin-bottom:5px;
    padding-bottom:5px;
}

@media screen and (max-width: 997px){
    .amendproduct-link{
        display:none;
    }
}

/* ---------------- amend products style ----------------------------------- */

table{
    margin-top: 30px;
    margin-bottom:30px;
}

.product-data > th{
    background-color: orange;
    color:white;
    text-shadow: 2px 0 0 black;
}

.product-data > th, td{
    padding:15px;
    border: 1px solid black;
    width:120px;
    height:100px;
}

.product-button{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom:10px;
}

.product-button:hover{
    color:orange;
}

.full-detail-container{
    background: black;
    color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
    max-width: 80%;
}

.full-detail-container > ul{
    list-style-type:none;
}

.close-product-details{
    font-size:30px;
    cursor:pointer;
    margin-left:15px;
}

.close-product-details:hover{
    color:orange;
}

#data-search{
    margin-top:10px;
}

/*------------------ add products style-----------------------------------------------*/

.form-group{
    margin-bottom:15px;
}

.form-control{
    width:250px;
}

.form-control-file{
    width:250px;
    margin-bottom: 10px;
}

.form-control-textarea {
    width:500px;
    height:200px;
}

/* ------------------ Amend Banners style ----------------------*/

.amend-banner-img{
    width:100%;
    height:250px;
}

/* ----------------- All products.html style -------------------------------------------- */

.filter-form-container{
    display:none;
}

#results-found{
    float: right;
}

.percent-off{
    background-color: red;
    color:white;
}

.new-item{
    background-color: orange;
    color:white;
}

.all-products-card-image-top{
    height:400px;
}

.product-card{
    margin-right: 5px;
}

@media screen and (max-width:480px){
    .all-products-card-image-top{
        height:300px;
    }
    .product-card{
        height:auto;
    }
}

/* ---------------------------New Review styles---------------- */

.review-textarea{
    width:400px;
    height:150px;
}

@media screen and (max-width:500px){
    .review-textarea{
        width:300px;
    }
}

/*------------- Basket.html style -------*/

.product-basket-row{
    padding-bottom:15px;
}

#basket-product-image{
    width:150px;
    height:150px;
}

#checkout-button{
    float:right;
}

.remove-item {
    cursor:pointer;
    border:none;
    background-color: white;
    width:100px;
}
