{% extends 'base.html' %}
{% load static %}
{% block meta %}{% endblock %}
{% block title %} All products {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-6 text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">All products</a></li>
                    </ol>
                </nav>    
            </div>
            <div class="col-6 text-center">
                <h6 id="results-found">Results found: {{ product_count }}</h6>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for products in products %}
                <div class="col-12 col-md-4 text-center d-flex flex-column justify-content-center align-items-center">
                    <div class="card mb-3" style="max-width: 400px; min-height:200px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ products.image.url }}" class="img-fluid rounded-start" alt="{{ products.name }}" style="height:100%;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ products.name }}</h5>
                                    <p class="card-text">
                                        {% if products.discounted %}
                                            <h6 class="percent-off">{{ products.discount_amount }}% off</h6>
                                            <strike>£{{ products.price }}</strike> £{{ products.discounted_price }}
                                        {% elif products.new %}
                                            <h6 class ="new-item">NEW!</h6>
                                            £{{ products.price}}
                                        {% else %}
                                            £{{ products.price}}
                                        {% endif %}
                                    </p>
                                    <p class="card-text">Hello<small class="text-body-secondary">Hello</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>     
{% endblock %}