{% extends 'base.html' %}
{% load static %}
{% block meta %}{% endblock %}
{% block title %} All products {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-6 text-right d-none d-sm-block">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        {% if request.GET.q %}
                            <li class="breadcrumb-item"><a id="breadcrumb-active" href="{% url 'allproducts' %}">Clear search</a></li>
                        {% else %}
                            <li class="breadcrumb-item"><a id="breadcrumb-active" href="#">All products</a></li>
                        {% endif %}
                    </ol>
                </nav>    
            </div>
            <div class="col-12 col-lg-6  text-center">
                <h6 id="results-found">Results found: {{ product_count }}</h6>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary modal-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Filter products
                </button>
            </div>
            {% for products in products %}
                <div class="col-6 col-lg-3 col-md-4">
                    <div class="card product-card" style="margin-bottom:10px;">
                        <a href="{% url 'product_details' product_id=products.id %}">
                            <img src="{{ products.image.url }}" class="card-img-top all-products-card-image-top" alt="{{ products.name }}">
                        </a>
                        <div class="card-body product-card-body text-center">
                            {% if products.discounted %}
                                <h6 class="percent-off card-title">{{ products.discount_amount }}% off</h6>
                            {% elif products.new %}
                                <h6 class ="new-item card-title">NEW!</h6>
                            {% else %}
                                <h6 class ="card-title"style="opacity: 0">Blank</h6>
                            {% endif %}
                            <h5 class="card-title">{{ products.series }}</h5>
                            <p class="card-text">{{ products.name }}</p>
                            <p class="card-text">
                            {% if products.discounted %}
                                <strong><strike>£{{ products.price }}</strike> £{{ products.discounted_price }}</strong> 
                            {% else %}
                                <strong>£{{ products.price}}</strong>
                            {% endif %}
                            </p>
                            <p class="card-text">Reviews:</p>
                            <p class="card-text"><small class="text-body-secondary">{{ products.category}}</small></p>
                            <a href="{% url 'product_details' product_id=products.id %}" class="image-container">
                                <p class="card-text">View product details</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}   
        </div>
    </div>
    <!--- Filter Modal-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Filters</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="get" action="{% url 'allproducts' %}">
                        {% if request.GET.category %}
                            <input type="hidden" name="category" value="{{ request.GET.category }}">
                        {% elif request.GET.series %}
                            <input type="hidden" name="series" value="{{ request.GET.series }}">
                        {% elif request.GET.discounted %}
                            <input type="hidden" name="discounted" value="{{ request.GET.discounted }}">
                        {% elif request.GET.new %}
                            <input type="hidden" name="new" value="{{ request.GET.new }}">
                        {% endif %}
                        <label for="sort"><h6>Sort by:</h6></label>
                        <br>
                        <input type="radio" id="sort_a_z" name="sort" value="A-Z">
                        <label for="sort_a_z">Products A-Z</label>
                        <br>
                        <input type="radio" id="sort_z_a" name="sort" value="Z-A">
                        <label for="sort_z_a">Products Z-A</label>
                        <br>
                        <input type="radio" id="sort_price" name="sort" value="price low-high">   
                        <label for="sort_price">Price Low-High</label>
                        <br>
                        <input type="radio" id="sort_price" name="sort" value="price high-low">   
                        <label for="sort_price">Price High-Low</label>
                        <br>
                        <br>
                        <div class="modal-footer">
                            <a  class="btn btn-secondary modal-button" href="{% url 'allproducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                    <form method="get" action="{% url 'allproducts' %}" id="series_filter_form">
                        <label for="series_filter"><h6>Filter By Series:</h6></label>
                        <br>
                        {% for series_value in series %}
                            <input type="radio" id="{{ series_value }}" name="series" value="{{ series_value }}" {% if request.GET.series == series_value %} checked {% endif %}>
                            <label for="{{ series_value }}" onclick="applySeries('{{ series_value }}')">{{ series_value }}</label>
                            <br>
                        {% endfor %}
                        <div class="modal-footer">
                            <a  class="btn btn-secondary modal-button" href="{% url 'allproducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                    <form method="get" action="{% url 'allproducts' %}" id="category_filter_form">
                        <label for="category_filter"><h6>Filter By Category:</h6></label>
                        <br>
                        {% for category in categories %}
                            <input type="radio" id="{{ category }}" name="category" value="{{ category }}" {% if request.GET.category == category %} checked {% endif %}>
                            <label for="{{ category }}">{{ category }}</label>
                            <br>
                        {% endfor %}
                        <div class="modal-footer">
                            <a  class="btn btn-secondary modal-button" href="{% url 'allproducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

