{% extends 'base.html' %}
{% load static %}
{% block meta %}{% endblock %}
{% block title %} All products {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-6 text-right d-none d-sm-block">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        {% if request.GET.q %}
                            <li class="breadcrumb-item"><a id="breadcrumb-active" href="{% url 'allproducts' %}">Clear search</a></li>
                        {% else %}
                            <li class="breadcrumb-item"><a id="breadcrumb-active" href="#">All products</a></li>
                        {% endif %}
                    </ol>
                </nav>    
            </div>
            <div class="col-12 col-lg-6  text-center">
                <h6 id="results-found">Results found: {{ product_count }}</h6>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <form method="get" action="{% url 'allproducts' %}">
                <label for="sort">Sort by:</label>
                {% if request.GET.category %}
                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                {% elif request.GET.series %}
                    <input type="hidden" name="series" value="{{ request.GET.series }}">
                {% elif request.GET.discounted %}
                    <input type="hidden" name="discounted" value="{{ request.GET.discounted }}">
                {% elif request.GET.new %}
                    <input type="hidden" name="new" value="{{ request.GET.new }}">
                {% endif %}
                <select name="sort" id="sort">
                    <option></option>
                    <option value="A-Z">Products A-Z</option>
                    <option value="price low-high">Price low-high</option>
                    <option value="products">Clear Filters</option>    
                </select>
                <button type="submit">Apply Filter</button>
            </form>
            {% for products in products %}
                <div class="col-6 col-lg-3 col-md-4">
                    <div class="card product-card" style="margin-bottom:10px;">
                        <a href="{% url 'product_details' product_id=products.id %}">
                            <img src="{{ products.image.url }}" class="card-img-top all-products-card-image-top" alt="{{ products.name }}">
                        </a>
                        <div class="card-body product-card-body text-center">
                            {% if products.discounted %}
                                <h6 class="percent-off card-title">{{ products.discount_amount }}% off</h6>
                            {% elif products.new %}
                                <h6 class ="new-item card-title">NEW!</h6>
                            {% else %}
                                <h6 class ="card-title"style="opacity: 0">Blank</h6>
                            {% endif %}
                            <h5 class="card-title">{{ products.series }}</h5>
                            <p class="card-text">{{ products.name }}</p>
                            <p class="card-text">
                            {% if products.discounted %}
                                <strong><strike>£{{ products.price }}</strike> £{{ products.discounted_price }}</strong> 
                            {% else %}
                                <strong>£{{ products.price}}</strong>
                            {% endif %}
                            </p>
                            <p class="card-text">Reviews:</p>
                            <p class="card-text"><small class="text-body-secondary">{{ products.category}}</small></p>
                            <a href="{% url 'product_details' product_id=products.id %}" class="image-container">
                                <p class="card-text">View product details</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}   
        </div>
    </div>            
{% endblock %}

