{% extends 'base.html' %}
{% load static %}
{% block title %} Amend Products {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">Amend Products</a></li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Amend Products</h2>
                <a href="{% url 'newProduct' %}">Add New Product +</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="container">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="product-data">
                                <th><h5>Product</h5></th>
                                <th><h5>Name</h5></th>
                                <th><h5>Image</h5></th>
                                <th><h5>Description</h5></th>
                                <th><h5>Series</h5></th>
                                <th><h5>Price</h5></th>
                                <th><h5>Category</h5></th>
                                <th><h5>Quantity Available</h5></th>
                                <th><h5>New</h5></th>
                                <th><h5>Discounted</h5></th>
                                <th><h5>Size</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr class="product-data">
                                <td>
                                    <button class="product-button" id="show-details-btn">All details</button>
                                    <br>
                                    <button class="product-button">Edit Product</button>
                                    <br>
                                    <button class="product-button">Delete Product</button>
                                </td>
                                <td>{{ product.name }}</td>
                                <td><img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail"></td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.series }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.quantity_available }}</td>
                                <td>{{ product.is_new }}</td>
                                <td>{{ product.is_discounted }}</td>
                                <td>{{ product.size }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>                   
            </div>
        </div>
    </div>
    <div id="product-details" style="display: none;">
        <ul>
            {% for product in products %}
                <li>
                    <strong>ID:</strong> {{ product.id }}<br>
                    <strong>Name:</strong> {{ product.name }}<br>
                    <strong>Description:</strong> {{ product.description }}<br>
                    <strong>Series:</strong> {{ product.series }}<br>
                    <strong>Price:</strong> {{ product.price }}<br>
                    <strong>Slug:</strong> {{ product.slug }}<br>
                    <strong>Category:</strong> {{ product.category }}<br>
                    <strong>Sub Category:</strong> {{ product.sub_category }}<br>
                    <strong>Search Tags:</strong> {{ product.search_tags }}<br>
                    <strong>Quantity Available:</strong> {{ product.quantity_available }}<br>
                    <strong>New:</strong> {{ product.new }}<br>
                    <strong>Discounted:</strong> {{ product.discounted }}<br>
                    <strong>Created On:</strong> {{ product.created_on }}<br>
                    <strong>Updated On:</strong> {{ product.updated_on }}<br>
                    <strong>Size:</strong> {{ product.size }}<br>
                </li>
            {% endfor %}
        </ul>
    </div>  
{% endblock %}