{% extends 'base.html' %}
{% load static %}
{% block title %} Amend Products {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">Amend Products</a></li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Amend Products</h2>
                <div class="row">
                    <div class="col-6">
                        <form action ="{% url 'newProduct' %}">
                            {% csrf_token %}
                            <button class="btn btn-primary modal-button" type="submit">Add New Product +</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <form action="{% url 'amendbanners' %}">
                            {% csrf_token %}
                            <button class="btn btn-primary modal-button">Amend Home Page Banners</button>
                        </form> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary modal-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Filter products
                        </button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <form metod="GET" action="{% url 'amendProducts' %}" class="search-form">
                    <div id="data-search">
                        <input class="search-bar" type="text" name="a" placeholder="Search The Database">
                        <button id="search-submit" type="submit"><i class="fa-solid fa-magnifying-glass i-link"></i></button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for product in paginated_table %}
    <div id="modal-{{ product.id }}" class="full-detail-container" style="display: none;">
        <span class="close-product-details">&times;</span>
            <h4>All details for <em>{{ product.name }}</em></h4>
                <ul>
                    <li>
                        <strong>ID:</strong> {{ product.id }}<br>
                        <strong>Name:</strong> {{ product.name }}<br>
                        <strong>Description:</strong> {{ product.description }}<br>
                        <strong>Series:</strong> {{ product.series }}<br>
                        <strong>Price:</strong> £{{ product.price }}<br>
                        <strong>Cost Price:</strong> £{{ product.cost_price }}<br>
                        <strong>Profit Margin:</strong> {{ product.profit_margin }}%<br>
                        <strong>Profit Amount:</strong> £{{ product.profit_amount }}<br>
                        <strong>Slug:</strong> {{ product.slug }}<br>
                        <strong>Category:</strong> {{ product.category }}<br>
                        <strong>Sub Category:</strong> {{ product.sub_category }}<br>
                        <strong>Search Tags:</strong> {{ product.search_tags }}<br>
                        <strong>Quantity Available:</strong> {{ product.quantity_available }}<br>
                        <strong>New:</strong> {{ product.new }}<br>
                        <strong>Discounted:</strong> {{ product.discounted }}<br>
                        {% if product.discounted %} 
                            <strong>Discount amount:</strong> {{ product.discount_amount }}%<br>
                            <strong>Discount price:</strong> £{{ product.discounted_price }}<br>
                        {% endif %}
                        <strong>Created On:</strong> {{ product.created_on }}<br>
                        <strong>Updated On:</strong> {{ product.updated_on }}<br>
                        {% if product.size %}
                            <strong>Size:</strong> {{ product.size }}<br>
                        {% endif %}
                    </li>
                </ul>
            </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="container">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="product-data">
                                <th><h5>Product</h5></th>
                                <th><h5>Name</h5></th>
                                <th><h5>Image</h5></th>
                                <th><h5>Description</h5></th>
                                <th><h5>Series</h5></th>
                                <th><h5>Finances</h5></th>
                                <th><h5>Category</h5></th>
                                <th><h5>Quantity Available</h5></th>
                                <th><h5>New</h5></th>
                                <th><h5>Discounted</h5></th>
                                <th><h5>Size</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in paginated_table %}
                            <tr class="product-data">
                                <td>
                                    <button class="product-button" data-product-id="{{ product.id }}">All details</button>
                                    <br>
                                    <form action="{% url 'update_product' product.id %}" method="get">
                                        {% csrf_token %}
                                        <button type="submit" class="product-button">Edit Product</button>
                                    </form>
                                    <br>
                                    <form action="{% url 'delete_product' product.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" action="delete" class="product-button">Delete Product</button>
                                    </form>
                                    {% if product.category == 'Clothing' %}
                                        <button class="product-button">
                                            <a style="color:white;"href="{% url 'newSize' product_id=product.id %}">
                                            Add Size
                                            </a>
                                        </button>
                                    {% endif %}
                                </td>
                                <td>{{ product.name }}</td>
                                <td>
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail">
                                    <hr>
                                </td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.series }}</td>
                                <td>
                                    <h6>Price</h6>
                                    £{{ product.price }}
                                    <hr>
                                    <h6>Profit Margin</h6>
                                    {{ product.profit_margin}}%
                                    <hr>
                                    <h6>Profit amount</h6>
                                    £{{ product.profit_amount}}
                                </td>
                                <td>
                                    {{ product.category }}
                                    {% if product.sub_category %}
                                        <hr>
                                        <h6>Sub Category</h6>
                                        {{ product.sub_category}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if product.category == 'Clothing' %}
                                        {% if product.size_set.exists %}
                                            {% for size in product.size_set.all %}
                                                {{ size.alternate_size }}: {{ size.size_quantity_available }}<br>
                                            {% endfor %}
                                        {% else %}
                                            <p>Please add sizes for this product.</p>
                                        {% endif %}
                                    {% else %}
                                        {{ product.quantity_available }}
                                    {% endif %}
                                </td>
                                <td>{% if product.new %} <i style="font-size:30px;"class="fa-solid fa-check"></i> {% endif %}</td>
                                <td>{% if product.discounted %} 
                                        {% if product.discount_amount %}
                                            <h6>Discount amount:</h6> 
                                            {{ product.discount_amount}}%
                                            <hr>
                                            <h6>Discount price:</h6> 
                                            £{{ product.discounted_price }}
                                        {% endif %}
                                     {% endif %}
                                </td>
                                <td>
                                    {% for size in product.size_set.all %}
                                        {{ size.alternate_size }}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>                   
            </div>
        </div>
    </div>
    <nav aria-label="Paginated pages for the amend products database table">
        <ul class="pagination justify-content-center">
          {% if paginated_table.has_previous %}
          <li class="page-item page-item-direction">
            <a class="page-link" aria-label="Directs user to the next page of products" href="?page={{ paginated_table.previous_page_number }}">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          {% endif %}
          
          {% for num in paginated_table.paginator.page_range %}
          <li class="page-item {% if num == paginated_table.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}
          
          {% if paginated_table.has_next %}
          <li class="page-item page-item-direction">
            <a class="page-link" href="?page={{ paginated_table.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          {% endif %}
        </ul>
    </nav>      
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Filters</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="get" action="{% url 'amendProducts' %}">
                        {% if request.GET.category %}
                            <input type="hidden" name="category" value="{{ request.GET.category }}">
                        {% elif request.GET.series %}
                            <input type="hidden" name="series" value="{{ request.GET.series }}">
                        {% elif request.GET.discounted %}
                            <input type="hidden" name="discounted" value="{{ request.GET.discounted }}">
                        {% elif request.GET.new %}
                            <input type="hidden" name="new" value="{{ request.GET.new }}">
                        {% endif %}
                        <label for="sort"><h6>Sort by:</h6></label>
                        <br>
                        <input type="radio" id="sort_a_z" name="sort" value="A-Z">
                        <label for="sort_a_z">Products A-Z</label>
                        <br>
                        <input type="radio" id="sort_z_a" name="sort" value="Z-A">
                        <label for="sort_z_a">Products Z-A</label>
                        <br>
                        <input type="radio" id="sort_price" name="sort" value="price low-high">   
                        <label for="sort_price">Price Low-High</label>
                        <br>
                        <input type="radio" id="sort_price" name="sort" value="price high-low">   
                        <label for="sort_price">Price High-Low</label>
                        <br>
                        <br>
                        <div class="modal-footer">
                            <a  class="btn btn-secondary modal-button" href="{% url 'amendProducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                    <form method="get" action="{% url 'amendProducts' %}" id="series_filter_form">
                        <label for="series_filter"><h6>Filter By Series:</h6></label>
                        <br>
                        {% for series_value in series %}
                            <input type="radio" id="{{ series_value }}" name="series" value="{{ series_value }}" {% if request.GET.series == series_value %} checked {% endif %}>
                            <label for="{{ series_value }}" onclick="applySeries('{{ series_value }}')">{{ series_value }}</label>
                            <br>
                        {% endfor %}
                        <div class="modal-footer">
                            <a class="btn btn-secondary modal-button" href="{% url 'amendProducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                    <form method="get" action="{% url 'amendProducts' %}" id="category_filter_form">
                        <label for="category_filter"><h6>Filter By Category:</h6></label>
                        <br>
                        {% for category in categories %}
                            <input type="radio" id="{{ category }}" name="category" value="{{ category }}" {% if request.GET.category == category %} checked {% endif %}>
                            <label for="{{ category }}">{{ category }}</label>
                            <br>
                        {% endfor %}
                        <div class="modal-footer">
                            <a class="btn btn-secondary modal-button" href="{% url 'amendProducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                    <form method ="get" action ="{% url 'amendProducts' %}">
                        <h6>Filter By New or Sale</h6>
                        <input type="radio" name="new" id="new" value="">
                        <label for ="new">New</label>
                        <br>
                        <input type="radio" name="discounted" value="">
                        <label for="discounted">Sale</label>
                        <div class="modal-footer">
                            <a class="btn btn-secondary modal-button" href="{% url 'amendProducts' %}">
                                Clear Filters
                            </a>
                            <button type="submit" class="btn btn-primary modal-button">Apply filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
    <script src="{% static 'javascript/product.js' %}"></script>
    {% endblock %}
{% endblock %}
