{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock %}
{% block title %}Animania home page{% endblock %}
{% block content %}
    <main>
        <div class ="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-container">
                        <div class="indicator"></div>
                        {% for banner in banner %}
                            {% if forloop.first %}
                                <img class="img-banner banner-visible" src="{{ banner.image.url }}" alt="{{ banner.series}} banner">   
                                <form class="banner-form-button form-visible" action="{% url 'allproducts' %}">
                                    <button type="submit" class="shop-btn">{{ banner.series }}</button>
                                </form>
                            {% else %}
                                <img class="img-banner banner-hidden" src="{{ banner.image.url }}" alt="{{ banner.series}} banner">
                                <form class="banner-form-button form-hidden" action="{% url 'allproducts' %}">
                                    <button type="submit" class="shop-btn">{{ banner.series }}</button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    </div>   
                </div>
            </div>            
        </div>
    </main>
    <section>
        <div class="container-fluid">
            <div class="row text-center gen-cat-row" style="background: url('{% static 'images/animeskybackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                <h2 class="main-section-header">Categories</h2>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Pop vinyl</h2>
                </div>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Clothing</h2>
                </div>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Figures</h2>
                </div>
                <div class="col-4 text-center general-cat" id="pop-vinyl" style="background: url('{% static 'images/kiritopopvinyl.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <button type="button" class="product-btn">Shop All Pop-Vinyls</button>
                    </div>
                </div>
                <div class="col-4 text-center general-cat general-cat-border" id="clothing-img"style="background: url('{% static 'images/nezukohoodie.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <button type="button" class="product-btn">Shop All Clothing</button>
                    </div>
                </div>
                <div class="col-4 text-center general-cat" id="figure-img" style="background: url('{% static 'images/kanekifigure.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <button type="button" class="product-btn">Shop All Figures</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 text-center new-item-container" style="background: url('{% static 'images/animebackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                    <h2 class="main-section-header">New Items</h2>
                    <div class="row">
                        {% for product in newProducts %}
                            {% if product.new %}
                                    <div class="col-12 col-md-3">
                                        <div class="card text-center new-product-card">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                                <img src="{{ product.image.url }}" class="card-img-top img-thumbnail new-image" alt="{{ product.name }}">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text">{{ product.series }}</p>
                                                <p class="card-text">£{{ product.price}}</p>
                                                <button class="btn btn-primary new-btn">Add to Cart</button>
                                            </div>                                                                                
                                        </div>
                                    </div>
                                
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>                          
            </div>  
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 facebookpagebanner text-center">
                    <h2>Follow our Facebook Page!</h2>
                    <a href="https://www.facebook.com/profile.php?id=61557309745166" target="_blank" aria-label="opens facebook page in new tab">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

