{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock %}
{% block title %}Animania home page{% endblock %}
{% block content %}
    <main>
        <div class ="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-container">
                        <div class="indicator"></div>
                        <button type="button" class="shop-btn">Shop Sword Art Online Merch</button>
                        <img class="img-banner banner-visible" src="{% static 'images/saobanner.jpg' %}" alt="sword art online image">
                        <img class="img-banner banner-hidden" src="{% static 'images/demonslayerbanner.jpg' %}" alt="demon slayer image">
                        <img class="img-banner banner-hidden" src="{% static 'images/tokyoghoulbanner.jpg' %}" alt="tokyo ghoul image">
                    </div>   
                </div>
            </div>            
        </div>
    </main>
    <section>
        <div class="container-fluid">
            <div class="row text-center gen-cat-row" style="background: url('{% static 'images/animeskybackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                <h2 class="main-section-header">Categories</h2>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Pop vinyl</h2>
                </div>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Clothing</h2>
                </div>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Figures</h2>
                </div>
                <div class="col-4 text-center general-cat" id="pop-vinyl" style="background: url('{% static 'images/kiritopopvinyl.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <button type="button" class="product-btn">Shop All Pop-Vinyls</button>
                    </div>
                </div>
                <div class="col-4 text-center general-cat general-cat-border" id="clothing-img"style="background: url('{% static 'images/nezukohoodie.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <button type="button" class="product-btn">Shop All Clothing</button>
                    </div>
                </div>
                <div class="col-4 text-center general-cat" id="figure-img" style="background: url('{% static 'images/kanekifigure.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <button type="button" class="product-btn">Shop All Figures</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <!-- this will change when the models are implemented -->
                <div class="col-12 text-center new-item-container" style="background: url('{% static 'images/animebackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                    <h2 class="main-section-header">New Items</h2>
                    {% for product in products %}
                        {% if product.new %}
                            <div class="new-image-container">
                                <h3 class="new-tag">New!</h3>
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail">
                                <h5>{{ product.series }}</h5>
                                <h5>{{ product.name }}</h5>
                                <h5>£{{ product.price }}</h5>
                                <button>Add to basket</button>
                            </div>
                        {% endif %}
                    {% endfor %}  
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 facebookpagebanner text-center">
                    <h2>Follow our Facebook Page!</h2>
                    <a href="https://www.facebook.com/profile.php?id=61557309745166" target="_blank" aria-label="opens facebook page in new tab">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

