{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock %}
{% block title %}Animania home page{% endblock %}
{% block content %}
    <main>
        <div class ="container-fluid">
            <div class="row">
                <div id="delivery-container" class="col-12 text-center delivery-info-container">
                    <h2><span onclick="removeDelivery()" id="close-delivery">×</span></h2>
                    <h2>FREE DELIVERY ON ORDERS OVER £{{ free_delivery_threshold }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="banner-container">
                        <div class="indicator"></div>
                        {% for banner in banner %}
                            {% if forloop.first %}
                                <img class="img-banner banner-visible" src="{{ banner.image.url }}" alt="{{ banner.series}} banner">   
                                <div class="banner-form-button form-visible text-center">
                                    <a href ="{% url 'allproducts' %}?series={{ banner.series }}" class="shop-btn"><h6> Shop {{ banner.series }} Merchandise!</h6></a>
                                </div>
                            {% else %}
                                <img class="img-banner banner-hidden" src="{{ banner.image.url }}" alt="{{ banner.series}} banner">
                                <div class="banner-form-button form-hidden text-center">
                                    <a href="{% url 'allproducts' %}?series={{ banner.series }}" class="shop-btn"><h6>Shop {{ banner.series }} Merchandise!</h6></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>   
                </div>
            </div>            
        </div>
    </main>
    <section>
        <div class="container-fluid">
            <div class="row text-center gen-cat-row" style="background: url('{% static 'images/animeskybackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                <h2 class="main-section-header">Categories</h2>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Pop vinyl</h2>
                </div>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Clothing</h2>
                </div>
                <div class="col-4 text-center gen-cat-header">
                    <h2>Figures</h2>
                </div>
                <div class="col-4 text-center general-cat" id="pop-vinyl" style="background: url('{% static 'images/kiritopopvinyl.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <a class="product-btn" href ="{% url 'allproducts' %}?category=Pop-Vinyl" style="color:white; background-color:black;">Shop All Pop-Vinyl</a>
                    </div>
                </div>
                <div class="col-4 text-center general-cat general-cat-border" id="clothing-img" style="background: url('{% static 'images/nezukohoodie.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <a class ="product-btn" href ="{% url 'allproducts' %}?category=Clothing" style="color:white; background-color:black;">Shop All Clothing</a>
                    </div>
                </div>
                <div class="col-4 text-center general-cat" id="figure-img" style="background: url('{% static 'images/kanekifigure.png' %}') no-repeat 50% 50%; background-size:contain;">
                    <div class ="opacity-film">
                        <a class="product-btn" href ="{% url 'allproducts' %}?category=Figures" style="color:white; background-color:black;">Shop All Figures</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 text-center new-item-container" style="background: url('{% static 'images/animebackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                    <h2 class="main-section-header">New Items</h2>
                    <a href="{% url 'allproducts' %}?new">
                        <h6 class="main-section-link">Shop all New products</h6>
                    </a>
                    <div class="row">
                        {% for product in newProducts %}
                            {% if product.new %}
                                    <div class="col-12 col-md-3">
                                        <div class="card text-center new-product-card">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                                <img src="{{ product.image.url }}" class="card-img-top img-thumbnail new-image" alt="{{ product.name }}">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text">{{ product.series }}</p>
                                                <p class="card-text">£{{ product.price}}</p>
                                                <form method ="post" action="{% url 'product_details' product.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary new-btn">View Product</button>
                                                </form>
                                            </div>                                                                                
                                        </div>
                                    </div>   
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>                          
            </div>  
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 text-center new-item-container" style="background: url('{% static 'images/animebackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                    <h2 class="main-section-header">Sale Items</h2>
                    <a href="{% url 'allproducts' %}?discounted"><h6 class="main-section-link">Shop all Sale products</h6></a>
                    <div class="row">
                        {% for product in discount_products %}
                            {% if product.discounted %}
                                    <div class="col-12 col-md-3">
                                        <div class="card text-center new-product-card">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                                <img src="{{ product.image.url }}" class="card-img-top img-thumbnail new-image" alt="{{ product.name }}">
                                                <h5 class="card-title percent-off">{{ product.discount_amount}}% Off</h5>
                                                <h5 class="card-title">{{ product.name }}</h5>
                                                <p class="card-text">{{ product.series }}</p>
                                                <p class="card-text"><s>£{{ product.price }}</s>|£{{ product.discounted_price}}</p>
                                                <form method ="post" action="{% url 'product_details' product.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary new-btn">View Product</button>
                                                </form>
                                            </div>                                                                                
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>                          
            </div>  
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 facebookpagebanner text-center">
                    <h2>Follow our Facebook Page!</h2>
                    <a href="https://www.facebook.com/profile.php?id=61557309745166" rel="external" target="_blank" aria-label="opens facebook page in new tab">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}
{% block script %}
<script src="{% static 'javascript/index.js' %}"></script>
<script>
    function toggle_read() {
        // Opens the dropdown on the footer to allow users to read more about the site.
        let readmore = document.querySelector('.readmore');
        let toggle = document.querySelector('.readmore-toggle');

        if (readmore.classList.contains('active')) {
            readmore.classList.remove('active');
            toggle.textContent = 'Read more..';
        } else {
            readmore.classList.add('active');
            toggle.textContent = 'Show less..';
        }
    }
</script>
{% endblock %}

