{% extends 'base.html' %}
{% load static %}
{% block title %} New Product {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'amendProducts' %}">Amend Products</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">New Products</a></li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Add new Product</h2>
                <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center;">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        <label for="id_name"><h5>Product Name</h5></label>
                        <br>
                        <input type="text" name="name" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_image"><h5>Product Image</h5></label>
                        <br>
                        <input type="file" name="image" class="form-control-file">
                    </div>
            
                    <div class="form-group">
                        <label for="id_alternative_images"><h5>Alternative Image</h5></label>
                        <br>
                        <input type="file" name="alternative_images" class="form-control-file">
                    </div>
            
                    <div class="form-group">
                        <label for="id_description"><h5>Product Description</h5></label>
                        <br>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
            
                    <div class="form-group">
                        <label for="id_series"><h5>Product Series</h5></label>
                        <br>
                        <input type="text" name="series" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_price"><h5>Sale Price</h5></label>
                        <br>
                        <input type="number" name="price" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_cost_price"><h5>Cost Price</h5></label>
                        <br>
                        <input type="number" name="cost_price" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_category"><h5>Category</h5></label>
                        <br>
                        <input type="text" name="category" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_sub_category"><h5>Sub-Category</h5></label>
                        <br>
                        <input type="text" name="sub_category" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_quantity_available"><h5>Quantity in stock</h5></label>
                        <br>
                        <input type="number" name="quantity_available" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="id_new"><h5>New Product?</h5></label>
                        <br>
                        <input type="checkbox" name="new" class="form-check-input">
                    </div>
            
                    <div class="form-group">
                        <label for="id_discounted"><h5>Discounted?</h5></label>
                        <br>
                        <input type="checkbox" name="discounted" class="form-check-input">
                    </div>
            
                    <div class="form-group">
                        <label for="id_discount_amount"><h5>Discount Amount</h5></label>
                        <br>
                        <input type="number" name="discount_amount" class="form-control">
                    </div>
            
                    <button class="product-button" type="submit">Add Product</button>
                </form>
            </div>            
            </div>
        </div>
    </div>
{% endblock %}
