{% extends 'base.html' %}
{% load static %}
{% block title %} New Product {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'allproducts' %}">All products</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'product_details' product_id=product.id %}">Product</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">New Review</a></li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3" style="max-width: 100%; min-height:200px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ product.image.url }}" class="img-fluid rounded-start main-img" alt="{{ products.name }}" style="height:100%;">   
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-center">
                                    <h2>Add Review for {{ product.name }}</h2>
                                    <form method ='post'>
                                        {% csrf_token %}
                                        <h6>Title</h6>
                                        <p>{{form.title}}</p>
                                        <br>
                                        <h6>Star Rating</h6>
                                        <p>{{form.rating}}</p>
                                        <br>
                                        <p>{{form.content}}</p>
                                        <button class="btn btn-primary modal-button" type="submit">Submit</button>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}