{% extends 'base.html' %}
{% load static %}
{% block title %} Product Detail {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-6 text-right d-none d-sm-block">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'allproducts' %}">All Products</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">{{ product.name }}</a></li>
                    </ol>
                </nav>    
            </div> 
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                    <div class="col-12">
                        <div class="card mb-3" style="max-width: 100%; min-height:200px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}" class="img-fluid rounded-start main-img" alt="{{ products.name }}" style="height:100%;">   
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body text-center">
                                        <h2 class="card-title">{{ product.series }}</h2>
                                        <p class="card-text">{{ product.name }}</p>
                                        <p class="card-text text-center">
                                            {% if product.discounted %}
                                                <strong><strike>£{{ product.price }}</strike> £{{ product.discounted_price }}</strong>
                                                <h6 class="percent-off">{{ product.discount_amount }}% off</h6>
                                            {% elif product.new %}
                                                <h6>Price:</h6>
                                                <strong>£{{ product.price}}</strong>
                                            {% else %}
                                                <strong>£{{ product.price}}</strong>
                                            {% endif %}
                                        </p>
                                        <p class ="card-text">{{ product.description }}</p>
                                        {% if product.category == 'Clothing' %}
                                            {% if product.size_set.exists %}
                                                {% for size in product.size_set.all %}
                                                    <p>Quantity in stock: 
                                                        {{ size.alternate_size }}
                                                        <strong>{{ size.size_quantity_available }}</strong>
                                                    </p> 
                                                    <br>
                                                {% endfor %}
                                            {% endif %}
                                        {% else %}
                                            {% if products.quantity_available <= 5 and product.quantity_available > 1 %}
                                                <p style ="color:orange;" class="card-text">Hurry only <strong>{{product.quantity_available}}</strong> left!</p>
                                            {% elif product.quantity_available <= 1 %}
                                                <p style ="color:red;"class="card-text">Hurry only <strong>{{product.quantity_available}}</strong> left!</p>
                                            {% else %}
                                                <p class="card-text">Quantity in stock: <strong>{{product.quantity_available}}</strong></p>
                                            {% endif %}
                                        {% endif %}
                                    <form method ="POST" action="{% url 'add_to_basket' product.id %}">
                                        {% csrf_token %}
                                        {% if product.category == 'Clothing' %}
                                            <label for="size"><h6>Choose your size:</h6></label>
                                            <br>
                                            <select style="width: 120px;" name="selected_size" id="id_selected_size">
                                                <option value="small">Small</option>
                                                <option value="medium">Medium</option>
                                                <option value="large">Large</option>
                                            </select>
                                        <br>
                                        {% endif %}
                                        <br>
                                        <div class="col-12 text-center">
                                            <h6>Quantity</h6>
                                            <input class="qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        </div>
                                        <br>
                                        <button type="submit" style="margin-top:10px;"class="btn btn-primary modal-button">Add to Basket</button>
                                        <input type="hidden" name="redirect_url" value ="{{request.path}}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Customer reviews</h3> 
                    <p>
                        Average rating:
                        {% for star in "x"|rjust:average_rating%}<i class="fas fa-star"></i>{% endfor %}
                        </strong> based on <strong>{{ review_amount }}</strong> Reviews.
                    </p>
                    <a class ="btn btn-primary modal-button" href ="{% url 'productreview' product_id=product.id %}">Leave a review</a>
                </div>
            </div>
            <hr>
            <div class="row">
                {% for review in reviews %}
                    <div class="col-12">
                        <div class="row text-center mb-2">
                            <div class="col-12 col-lg-3">
                                <h6>{{ review.title }}</h6>
                                <p>{{ review.created_by }}</p>
                           </div>
                            <div class="col-12 col-lg-6">
                            <!--Creates stared based on the review.rating value-->
                                {% for star in "x"|rjust:review.rating %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                                <p>{{ review.content }}</p>
                            </div>
                            <div class="col-12 col-lg-3">
                                <p><small>{{ review.created_on }}</small></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </section>      
{% endblock %}


