{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>My Wishlist</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in wishlist_item %}
                <div class="col-md-4 col-12 wishlist-image-container text-center">
                    <a href="{% url 'product_details' item.product.id %}">
                        <img src="{{ item.product.image.url }}" class="wishlist-image" alt="{{ item.product.name }}">
                    </a>
                    <h5>{{ item.product.name}}</h5>
                    <p>{{ item.product.series }}</p>
                    <p>£{{ item.product.price }}</p>
                    <form method ="POST" action="{% url 'delete_wishlist_item' item.product.id %}"onsubmit="return confirmDelete()">
                        {% csrf_token %}
                        <button class="remove-wishlist-item" type ="submit">Remove from Wishlist</button>
                    </form>   
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this item?");
        }
    </script>
{% endblock %}