{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Your Basket</h2>
                {% for item in bag_items %}
                {{ item }}
                <br>
                {{ request.session.bag }}
                {% endfor %}
                <br>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 d-none">
                    <h6>Product</h6>
                </div>
                <div class="col-md-3 d-none">
                    <h6>Product details</h6>
                </div>
                <div class="col-md-3 d-none">
                    <h6>Quantity</h6>
                </div>
                <div class="col-md-3 d-none">
                    <h6>Total</h6>
                </div>
            </div>
            <hr>
            {% for item in bag_items %}                  
                <div class="row mt-5 product-basket-row">
                    <div class="col-12 col-lg-3">
                        <img id="basket-product-image"src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name}}">
                    </div>
                    <div class="col-12 col-lg-3 text-left">
                        <p><strong>{{item.product.name}}</strong></p>
                        <p>{{ item.product.series }}</p>
                        {% if item.product.category == 'Clothing' %}
                            <p>Size: {{ item.size| title }}</p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-3">
                        <form method ="post">
                            {% csrf_token %}
                            <h6>Quantity</h6>
                            <button class="quantity-btn minus">-</button>
                            <input  style="width:50px; margin-top:10px;" type="number" class="quantity" value="{{ item.quantity }}">
                            <button class="quantity-btn plus">+</button>
                        </form>
                    </div>
                    <div class="col-12 col-lg-3">
                        {% if item.product.discounted %}
                            <strike><p>£{{ item.product.price}} </strike>£{{ item.product.discounted_price}}</p>  
                        {% else %}
                            <p>£{{ item.product.price}}</p>
                        {% endif %}
                        <hr>
                        Subtotal: £{{ item.subtotal }}
                    </div>  
                </div>
                <hr>   
            {% endfor %}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4">
                    <h3>Total: 
                        {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </h3>
                    <p>Delivery charge: £{{ delivery|floatformat:2 }}</p>
                    <p>Spend another <strong>£{{ free_delivery_delta }} </strong>for free delivery</p>
                    <a href="{% url 'allproducts' %}" class="btn btn-primary modal-button">Keep shopping!</a>
                    <button id="checkout-button" class="btn btn-primary modal-button">Checkout</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}