{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb"href="{% url 'basket' %}">Basket</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">Checkout</a></li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Checkout</h2>
                <form>
                    {{ order_form.as_p }}
                    <button type="submit" class="btn btn-primary modal-button">Checkout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}