{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
					<li class="breadcrumb-item"><a id="breadcrumb-active"href="#">Change Password</a></li>
					</ol>
				</nav>   
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Change Password</h2>
    			<form method="post">
        			{% csrf_token %}
        			<div class="account-form">
						<p>Old password</p>
						{{ form.old_password }}
					</div>
					<div class="account-form">
						<p>New password</p>
						{{ form.new_password1}}
					</div>
					<div class="account-form">
						<p>Confirm new password</p>
						{{ form.new_password2 }}
					</div>
        			<button class ="btn btn-primary modal-button" type="submit">Change Password</button>
    			</form>
			</div>
		</div>
	</div>
{% endblock %}