{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a id="breadcrumb-active"href="#">Profile</a></li>
                    </ol>
                </nav>    
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Welcome {{ user.username }}</h2>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <br>
                    <button class="address-btn" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-12 profile-details text-center">
                <h2> Your Details</h2>
                <h6>Username</h6> 
                <p>{{ user.username}}</p>
                <h6>First name:</h6> 
                <p>{{ user.first_name}}</p>
                <h6>Last name:</h6>
                <p>{{ user.last_name}}</p>
                <h6>email address:</h6>
                <p>{{ user.email }}</p>
                <form action="{% url 'changepassword' %}" method="get">
                    <button type="submit" class="address-btn" id="changepassword">Change Password</button>
                </form>
                <br>                
            </div>
            {% if user.is_authenticated and user.is_superuser %}
            <div class="col-lg-4 col-12 profile-details text-center amendproduct-link">
               <h2>Product Overview</h2>
               <form method="post" action="{% url 'amendProducts' %}">
                {% csrf_token %}
                <button class="address-btn" style="margin-top:5px;" type="submit">Product Overview</button>
            </form>
            </div>
            {% else %} 
            <div class="col-lg-4 col-12 profile-details text-center">
                <h2>Address details</h2>
                {% for address in addresses %}
                <li>{{ address.door_number }} {{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.country }} - {{ address.postal_code }}</li>
                <br>
                <form action="{% url 'update_address' address.id %}" method="get">
                    <button class="address-btn" type="submit">Update Address</button>
                </form>
                <br>
                <form method="post" action="{% url 'delete_address' address.id %}">
                    {% csrf_token %}
                    <button class="address-btn" style="margin-top:5px;" type="submit">Delete</button>
                </form>
                {% endfor %}
                <br>
                <form action="{% url 'addaddress' %}">
                    <button class="address-btn" type="submit">Add new address +</button>
                </form>
            </div>
            {% endif %}
            <div class="col-lg-4 col-12 profile-details text-center">
                <h2>My Reviews</h2>
                {% for review in reviews %}
                <div class="text-center my-reviews">
                    <h6>{{ review.product }}</h6> 
                    {% for star in "x"|rjust:review.rating %}
                        <i class="fas fa-star"></i>
                    {% endfor %} 
                    <p>{{review.title}} </p>
                    <p> uploaded on: {{ review.created_on}}</p>
                    <div class="row">
                        <div class="col-6">
                            <form method ="post" action ="">
                                {% csrf_token %}
                                <button class="address-btn" type="submit">Update Review</button>
                            </form>
                        </div>
                        <div class="col-6">
                            <form method="post" action="{% url 'delete_review' review.id %}">
                                {% csrf_token %}
                                <button class="address-btn" type="submit">Delete Review</button>
                            </form>
                        </div>
                    </div> 
                </div>
                {% empty %}
                <p>No reviews posted</p>
                <p>Browse and leave a review for our <a style="color:orange; text-decoration:underline" href="{% url 'allproducts' %}">Products!</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
