{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <title>{% block title %} Animania {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/wolf.ico' %}" type="image/x-icon">
    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid main-background mt-none">
                <a class="navbar-brand order-lg-1 order-2" href="{% url 'index' %}">
                    <h1>Animania</h1>
                </a>
                <button class="navbar-toggler order-1 order-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" onClick="moveLinks()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-2" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'allproducts' %}">Shop All Products</a>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Shop By Series
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for series in series %}
                                    <li><a class="dropdown-item" href="{% url 'allproducts' %}?series={{ series }}">{{ series }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Shop By Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                    <li><a class="dropdown-item" href="{% url 'allproducts' %}?category={{ category }}">{{ category }}</a></li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="{% url 'allproducts' %}?new">New products</a></li>
                                <li><a class="dropdown-item" href="{% url 'allproducts' %}?discounted">Sale products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ms-auto d-flex flex-row order-3" id="linksContainer">
                    <a class="nav-link" href="{% url 'allproducts' %}"><i class="fa-solid fa-magnifying-glass i-link"></i></a>  
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'profile' %}"><i class="fa-regular fa-user i-link"></i></a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}"><i class="fa-regular fa-user i-link"></i></a>
                    {% endif %}
                    <a class="nav-link cart-icon" href="{% url 'basket' %}">
                        {% if grand_total %}  
                            <i class="fa-solid fa-cart-plus"></i>
                            <div class="total-amount">
                                £{{ grand_total|floatformat:2 }}
                            </div> 
                        {% else %}
                            <i class="fa-solid fa-cart-shopping i-link"></i>
                            <div class="total-amount">
                                £0.00
                            </div>
                        {% endif %}
                    </a>                       
                </div>
            </div>
        </nav>
    </header>
    <!-- Displays messages for the entire site -->
    {% for message in messages %}
        {% if message %}
            <div class="container-fluid" id="remove-message">
                <div class="row {% if message.tags == 'success' %}message-container{% else %}message-container-error{% endif %}">
                    <div class="col-12 text-center">
                        <div>
                            <h3>{{ message }}</h3>
                        </div>   
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Displays form validation messages for the entire site -->
    {% if form.errors %}
        <div class="error-message text-center">
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                <div class="container-fluid" id="remove-message">
                    <div class="row message-container-error">
                        <div class="col-12 text-center">
                            <div>
                                <h3>{{ field|title }}: {{ error }}</h3>
                            </div>   
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    
    <footer>
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-12 col-sm-4">
                    <h3>About Animania</h3>
                    <p>
                        Animania is a fictional anime merchandise ecommerce store
                        <br>
                        Items that are shown in this store are NOT available for purchase
                        <br>
                        <p class="readmore-toggle" onclick="toggle_read()">Read more..</p>
                        <div class="readmore">
                            This website has been created for project purposes and no purchases should be made from within
                            this website.
                            <br>
                            Animania is designed for anime fans by an anime fan, to share the joy that anime brings to people.
                        </div>
                    </p>
                </div>
                <div class="col-12 col-sm-4">
                    <h3>Useful Links</h3>
                    <ul class="useful-links">
                        <li><a href="{% url 'allproducts' %}">All products</a></li>
                        <li><a href="#">News</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Account</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <h3>Anime Series</h3>
                    <ul class="useful-links">
                        {% for series in series %}
                            <li><a class="dropdown-item" href="{% url 'allproducts' %}?series={{ series }}">{{ series }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 text-center">
                    <h4><i class="fa-regular fa-copyright"></i> Animania</h4>
                </div>
            </div>
        </div>  
    </footer>
    <!-- Javascript and Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> 
    <script src="{% static 'javascript/script.js' %}"></script>
    {% block script %}
    {% endblock %}
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/2fed14f4e7.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>