{% extends 'base.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>News</h2>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <div id="news-title">News Title</div>
            <div id="news-image">News Image container</div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12 text-center">
        <h5>To see upcoming news and updates from animania please either:</h5>
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a>
    </div>
</div>
{% endif %}
{% endblock %}