{% extends 'base.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>News</h2>
            {% if user.is_authenticated and user.is_superuser %}
                <a class="btn btn-primary modal-button" href="{% url 'create_news' %}">Upload A News Article</a>
            {% endif %}
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="container">
    <div class="row article-snippet-container">
        {% for article in articles %}
            <div class="col-md-4 col-12 text-center" id="article">
                <div id="news-title">
                    <h4>{{ article.title}}</h4>
                </div>
                <div id="news-description">
                    <h6>{{ article.short_description}}</h6>
                </div>
                <div id="news-image-container" style="background: url('{% static 'images/animebackground.jpg' %}') no-repeat 40% 60%; background-size:cover;">
                    <img id="news-image" src="{{ article.news_image.url }}" alt="{{article.title}}"/>
                </div>
                <br>
                <a href="{% url 'news_detail' article.id %}" class="btn btn-primary modal-button">See Full Article</a>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12 text-center">
        <h5>To see upcoming news and updates from animania please either:</h5>
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a>
    </div>
</div>
{% endif %}
{% endblock %}